---
---
<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="stylesheets/pygment_trac.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="stylesheets/custom.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print" />

    <title>Jefferson Campos by foguinhoperuca</title>
  </head>

  <body>

    <header>
      <div class="container">
        <h1>Jefferson Campos</h1>
        <h2>My Personal Blog.</h2>

        <section id="downloads">
          <!-- <a href="https://github.com/foguinhoperuca/dot-files/zipball/master" class="btn">Download as .zip</a> -->
          <!-- <a href="https://github.com/foguinhoperuca/dot-files/tarball/master" class="btn">Download as .tar.gz</a> -->
          <!-- <a href="https://github.com/foguinhoperuca/dot-files" class="btn btn-github"><span class="icon"></span>View on GitHub</a> -->

		  <!-- 			{% for repos in site.repos %} -->
          <!-- <a href="{{repos.url}}" class="btn">{{repos.name}}</a> -->
		  <!-- 			{% endfor %} -->
        </section>
      </div>
    </header>

    <div class="container">
      <section id="main_content">
        <p>Another blog/dot-file project. But it is special: it's mine!</p>
		Posts:<br />
		<ul class="posts">
		  {% for post in site.posts %}
		  <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
		  {% endfor %}
		</ul>
      </section>
    </div>    
  </body>
</html>
